# Raw and processed GIS datasets
data/nhvr/raw/*
data/nhvr/processed/*
data/osm/raw/*
data/osm/processed/*

# Keep folder structure
!data/nhvr/raw/.gitkeep
!data/nhvr/processed/.gitkeep
!data/osm/raw/.gitkeep
!data/osm/processed/.gitkeep

# QGIS temporary and backup files
*.qgz~
*.qgs~
*.qgd